@import '../../../assets/scss/variables.scss';

.text-link {
  cursor: pointer;

  h2, h3 {
    transition: $transition-1;
  }

  &:hover {
    color: $primary;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(1);
  user-select: none;
}


.image-card-container:hover + div h2,
.image-card-container:hover + div h3 {
  color: $primary;
}

