<div #navBar class="header container animation-slide-in">
  <div routerLink="/" role="button" class="hover:opacity-75">
    <img src="assets/img/afyia_logo.png" alt="Logo afyia">
  </div>
  <div>
    <nav class="hidden lg:block">
      <ul>
        <li><a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">{{ 'header.home' | translate }}</a></li>
        <!-- <li><a routerLink="/technology" routerLinkActive="active">{{ 'header.technology' | translate }}</a></li>
        <li><a routerLink="/news" routerLinkActive="active">{{ 'header.news' | translate }}</a></li >-->
        <li><a routerLink="/products" routerLinkActive="active">{{ 'header.product' | translate }}</a></li>
        <li><a routerLink="/about" routerLinkActive="active">{{ 'header.about' | translate }}</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">{{ 'header.contact' | translate }}</a></li>
        <li class="border-s ps-6" (clickOutside)="closeDropdown(langDropDown, $event)">
          <button class="inline-flex items-center" (click)="toggleDropDown(langDropDown)">
            <span class="inline w-[14px]">{{ currentLang | uppercase }}</span>
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>
          <div
            #langDropDown
            class="z-10 absolute bg-white rounded-xl shadow -translate-x-1/2 animation-pop"
            style="display: none"
          >
            <ul class="text-sm flex flex-col text-left m-2 gap-2">
              <li>
                <button
                  class="inline-block py-1 pe-4 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                  [ngClass]="{'bg-gray-100 pointer-events-none' : isLanguageSelected('fr')}"
                  (click)="selectLanguage('fr'); closeDropdown(langDropDown, $event)"
                >
                  <img class="inline-block ms-4" width="20px" src="assets/img/emoji_fl_fr.png" alt="French flag emoji">
                  <span class="ms-2 me-4">Français</span>
                </button>
              </li>
              <li>
                <button
                  class="inline-block py-1 pe-4 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                  [ngClass]="{'bg-gray-100 pointer-events-none' : isLanguageSelected('en')}"
                  (click)="selectLanguage('en'); closeDropdown(langDropDown, $event)"
                >
                  <img class="inline-block ms-4" width="20px" src="assets/img/emoji_fl_en.png" alt="French flag emoji">
                  <span class="ms-2 me-4">English</span>
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <button class="lg:hidden px-3" (click)="openDropdown(mobileSubmenu, $event)" (clickOutside)="closeDropdown(mobileSubmenu, $event)">
      <fa-icon class="ms-1" [icon]="faBars" size="lg"></fa-icon>
      <div
        #mobileSubmenu
        class="submenu absolute top-0 right-0 m-5 shadow-lg animation-pop"
        style="display: none"
      >
        <div class="submenu-header py-3 px-7 text-end" (click)="closeDropdown(mobileSubmenu, $event)">
          <fa-icon [icon]="faTimes" size="lg"></fa-icon>
        </div>
        <div class="flex flex-col text-xl px-5 pb-3 text-center">
          <div class="p-2">
            <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" (click)="closeDropdown(mobileSubmenu, $event)">{{ 'header.home' | translate }}</a>
          </div>
          <div class="p-2">
            <a routerLink="/contact" routerLinkActive="active" (click)="closeDropdown(mobileSubmenu, $event)">{{ 'header.contact' | translate }}</a>
          </div>
          <div class="border-b my-2"></div>
          <div class="p-2">
            <button class="inline-flex items-center" (click)="toggleDropDown(langMobileDropDown)">
              <span class="inline w-[14px]">{{ currentLang | uppercase }}</span>
              <svg class="w-2.5 h-2.5 ms-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>
            <div
              #langMobileDropDown
              class="z-100 absolute bg-white rounded-xl shadow -translate-x-1/2 animation-pop"
              style="display: none"
            >
              <ul class="text-xl flex flex-col text-left m-2 gap-2">
                <li>
                  <button
                    class="inline-block py-1 pe-4 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                    [ngClass]="{'bg-gray-100 pointer-events-none' : isLanguageSelected('fr')}"
                    (click)="selectLanguage('fr'); closeDropdown(langMobileDropDown, $event); closeDropdown(mobileSubmenu, $event)"
                  >
                    <img class="inline-block ms-4" width="20px" src="assets/img/emoji_fl_fr.png" alt="French flag emoji">
                    <span class="ms-2 me-4">Français</span>
                  </button>
                </li>
                <li>
                  <button
                    class="inline-block py-1 pe-4 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                    [ngClass]="{'bg-gray-100 pointer-events-none' : isLanguageSelected('en')}"
                    (click)="selectLanguage('en'); closeDropdown(langMobileDropDown, $event); closeDropdown(mobileSubmenu, $event)"
                  >
                    <img class="inline-block ms-4" width="20px" src="assets/img/emoji_fl_en.png" alt="French flag emoji">
                    <span class="ms-2 me-4">English</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>
