<div class="bg-blue-950 mt-20 px-10 py-16 text-white flex justify-center gap-32">
  <div class="font-extrabold self-center">
    <img src="assets/img/afyia_logo_white.png" width="100px" alt="Logo AFYIA footer">
  </div>
  <div>
    <div class="font-bold text-lg">Nous contacter</div>
    <div>Linkedin</div>
    <div>Laisser un mot</div>
  </div>
  <div>
    <div class="font-bold text-lg">Legal</div>
    <div>Mentions légales</div>
    <div>Politique des cookies</div>
    <div>Données personnelles</div>
  </div>
  <div>
    <div class="font-bold text-lg">L'entreprise</div>
    <div>A propos</div>
  </div>
</div>