<div class="bg-secondary-dark mt-20 px-10 py-16 text-white flex font-light justify-center gap-32">
  <div class="font-extrabold self-center">
    <img src="assets/img/afyia_logo_white.png" width="100px" alt="Logo AFYIA footer">
  </div>
  <div class="text-white">
    <div class="font-bold text-lg">Nous contacter</div>
    <a routerLink="/contact">Linkedin</a>
    <a routerLink="/contact">Laisser un mot</a>
  </div>
  <div class="opacity-50">
    <div class="font-bold text-lg">Legal</div>
    <div>Mentions légales</div>
    <div>Politique des cookies</div>
    <div>Données personnelles</div>
  </div>
  <div class="opacity-50">
    <div class="font-bold text-lg">L'entreprise</div>
    <div>A propos</div>
  </div>
</div>