<div class="banner" appParallax [ratio]="-0.3" style="background-image: url('../../assets/img/banner/banner_software.png')">
  <h1 class="reveal">{{ 'software.title' | translate }}</h1>
</div>
<div class="container">
  <div class="mx-auto lg:w-8/12 mt-10 mb-10 lg:mb-20">
    <app-ariane [path]="navigationPath"></app-ariane>
  </div>
  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl mb-20 p-5 lg:p-10 lg:pt-0 reveal">
    <h2 class="text-5xl mb-5 lg:text-7xl text-center lg:-translate-y-8 lg:mb-0" [innerHTML]="'software.subtitle' | translate"></h2>
    <div class="grid lg:grid-cols-2">
      <p class="mb-5 lg:mb-0 self-center" [innerHTML]="'software.disoft_description' | translate"></p>
      <div class="lg:translate-x-20">
        <div class="image-container image-container--scaled">
          <img src="assets/img/team/img_sarah_faustine.jpg" alt="Photo utilisateur disoft logiciel" title="Photo utilisateur disoft logiciel">
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl mb-20 p-5 lg:p-10 lg:pt-0 reveal">
    <h2 class="text-4xl text-center mb-5 lg:text-end lg:text-6xl lg:-translate-y-8 lg:mb-0" [innerHTML]="'software.subtitle_2' | translate"></h2>
    <div class="grid lg:grid-cols-2">
      <div class="mb-5 lg:-translate-x-20 lg:mb-0">
        <div class="shadow image-container">
          <img src="assets/img/team/img_mic.jpg" alt="Screenshot software logiciel disoft" title="Screenshot logiciel disoft">
        </div>
      </div>
      <p class="self-center" [innerHTML]="'software.disoft_description_2' | translate"></p>
    </div>
  </div>

  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl mb-10 p-5 lg:p-10 lg:pt-0 reveal">
    <h2 class="text-4xl mb-5 text-center lg:text-6xl lg:text-start lg:-translate-y-8 lg:mb-0" [innerHTML]="'software.subtitle_3' | translate"></h2>
    <div class="grid lg:grid-cols-2">
      <p class="mb-5 lg:mb-0 self-center" [innerHTML]="'software.disoft_description_3' | translate"></p>
      <div class="lg:translate-x-20">
        <div class="shadow image-container">
          <img src="assets/img/img_disoft.jpg" alt="Screenshot software logiciel disoft" title="Screenshot logiciel disoft">
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto lg:w-8/12 reveal p-5 lg:p-10 mb-10">
    <div class="flex gap-5">
      <fa-icon class="self-center text-3xl" [icon]="faPenNib"></fa-icon>
      <div>
        <p class="mb-5 lg:mb-0" [innerHTML]="'software.disoft_description_4' | translate"></p>
      </div>
    </div>
  </div>

  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl p-5 lg:p-10 reveal">
    <h2 class="text-4xl lg:text-6xl mb-5" [innerHTML]="'software.access_disoft' | translate"></h2>
    <p class="mb-5">
      {{ 'software.access.description' | translate }}
    </p>
    <div class="text-center">
      <button
        class="align-middle btn btn-lg"
        [routerLink]="['/contact']"
        [queryParams]="{ subject: 'software'}"
        fragment="form"
      >
        {{ 'software.access.request' | translate }}
        <fa-icon class="ms-1" [icon]="faComputer"></fa-icon>
      </button>
    </div>
  </div>
</div>
