<div class="banner" appParallax [ratio]="-0.3" style="background-image: url('../../assets/img/banner/banner_software.png')">
  <h1 class="reveal">{{ 'software.title' | translate }}</h1>
</div>
<div class="container">
  <div class="mx-auto lg:w-8/12 mt-10 mb-10 lg:mb-20">
    <app-ariane [path]="navigationPath"></app-ariane>
  </div>
  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl mb-10 p-5 lg:p-10 lg:pt-0">
    <h2 class="text-4xl mb-5 lg:text-6xl lg:-translate-y-8 lg:mb-0" [innerHTML]="'software.subtitle' | translate"></h2>
    <div class="grid lg:grid-cols-2">
      <p class="mb-5 lg:mb-0" [innerHTML]="'software.disoft_description' | translate"></p>
      <div class="lg:translate-x-20">
        <div class="reveal image-container">
          <img src="assets/img/team/img_sarah_faustine.jpg" alt="Photo utilisateur disoft logiciel" title="Photo utilisateur disoft logiciel">
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl mb-10 p-5 lg:p-10">
    <div class="grid lg:grid-cols-2">
      <div class="mb-5 lg:-translate-x-20 lg:mb-0">
        <div class="reveal border image-container">
          <img src="assets/img/img_disoft.jpg" alt="Photo utilisateur disoft logiciel" title="Photo utilisateur disoft logiciel">
        </div>
      </div>
      <p [innerHTML]="'software.disoft_description_2' | translate"></p>
    </div>
  </div>

  <div class="mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl p-5 lg:p-10">
    <h2 class="text-4xl lg:text-6xl mb-5" [innerHTML]="'software.access_disoft' | translate"></h2>
    <p class="mb-5">
      {{ 'software.access.description' | translate }}
    </p>
    <div class="text-center">
      <button class="align-middle btn btn-lg" routerLink="/account-request">
        {{ 'software.access.request' | translate }}
        <fa-icon class="ms-1" [icon]="faComputer"></fa-icon>
      </button>
    </div>
  </div>
</div>
