<div
  class="container nav-container"
  [class.nav-container--hidden]="navHidden"
  (clickOutside)="closeMenu()"
>
  <div class="header animation-slide-in" [class.header--dark]="isDark">
    <div [routerLink]="'' | localizedLink" role="button" class="hover:opacity-75">
      <img src="assets/img/afyia_logo.png" alt="Logo afyia">
    </div>
    <div>
      <nav class="hidden lg:block">
        <ul>
          <li><a [routerLink]="'' | localizedLink" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">{{ 'header.home' | translate }}</a></li>
          <li class="relative">
            <a class="btn-approach">
              <span>{{ 'header.approach' | translate }}</span>
              <svg class="w-2.5 h-2.5 ms-2 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
              <div class="dropdown-content">
                <ul>
                  <li role="button" [routerLink]="'software' | localizedLink" routerLinkActive="active">
                    {{ 'header.technology' | translate }}
                  </li>
                  <li role="button" [routerLink]="'biotechnology' | localizedLink" routerLinkActive="active">
                    {{ 'header.biotechnology' | translate }}
                  </li>
                  <li role="button" [routerLink]="'industrial-process' | localizedLink" routerLinkActive="active">
                    {{ 'header.process' | translate }}
                  </li>
                  <li role="button" [routerLink]="'human-health' | localizedLink" routerLinkActive="active">
                    {{ 'header.health' | translate }}
                  </li>
                </ul>
              </div>
            </a>
          </li>
          <li><a [routerLink]="'products' | localizedLink" routerLinkActive="active">{{ 'header.product' | translate }}</a></li>
          <li><a [routerLink]="'news' | localizedLink" routerLinkActive="active">{{ 'header.news' | translate }}</a></li>
          <li><a [routerLink]="'about' | localizedLink" routerLinkActive="active">{{ 'header.about' | translate }}</a></li>
          <li><a [routerLink]="'contact' | localizedLink" routerLinkActive="active">{{ 'header.contact' | translate }}</a></li>
          <li class="border-s ps-2 relative">
            <a class="btn-lang">
              <span>{{ currentLang | uppercase }}</span>
              <svg class="w-2.5 h-2.5 ms-2 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
              <div class="dropdown-content dropdown-content--left">
                <ul>
                  <li
                    role="button"
                    [ngClass]="{'bg-gray-100 pointer-events-none' : isLanguageSelected('fr')}"
                    (click)="selectLanguage('fr')"
                  >
                    <img class="inline-block" width="20px" src="assets/img/emoji_fl_fr.png" alt="French flag emoji">
                    <span class="ms-2 me-4">Français</span>
                  </li>
                  <li
                    role="button"
                    [ngClass]="{'bg-gray-100 pointer-events-none' : isLanguageSelected('en')}"
                    (click)="selectLanguage('en')"
                  >
                    <img class="inline-block" width="20px" src="assets/img/emoji_fl_en.png" alt="English flag emoji">
                    <span class="ms-2 me-4">English</span>
                  </li>
                </ul>
              </div>
            </a>
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="btn-lang menu-toggle"
        [attr.aria-expanded]="menuOpen"
        aria-label="Menu"
        (click)="toggleMenu()"
      >
        <fa-icon class="pointer-events-none" [icon]="menuOpen ? faTimes : faBars" size="lg"></fa-icon>
      </button>
      <div>
      </div>
    </div>
  </div>
  <div class="submenu lg:hidden" [class.submenu--open]="menuOpen" [class.submenu--dark]="isDark">
    <nav class="submenu-links">
      <a [routerLink]="'' | localizedLink" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" (click)="closeMenu()">{{ 'header.home' | translate }}</a>
      <div class="submenu-divider"></div>
      <a [routerLink]="'software' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.technology' | translate }}</a>
      <a [routerLink]="'biotechnology' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.biotechnology' | translate }}</a>
      <a [routerLink]="'industrial-process' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.process' | translate }}</a>
      <a [routerLink]="'human-health' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.health' | translate }}</a>
      <div class="submenu-divider"></div>
      <a [routerLink]="'products' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.product' | translate }}</a>
      <a [routerLink]="'news' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.news' | translate }}</a>
      <a [routerLink]="'about' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.about' | translate }}</a>
      <a [routerLink]="'contact' | localizedLink" routerLinkActive="active" (click)="closeMenu()">{{ 'header.contact' | translate }}</a>
    </nav>

    <div class="submenu-divider"></div>

    <div class="submenu-lang">
      <button
        type="button"
        class="submenu-lang__trigger"
        [class.is-open]="langOpen"
        [attr.aria-expanded]="langOpen"
        (click)="toggleLang($event)"
      >
        <span>{{ currentLang | uppercase }}</span>
        <svg class="w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>

      <ul class="submenu-lang__menu" [class.is-open]="langOpen">
        <li
          role="button"
          [ngClass]="{'is-active pointer-events-none' : isLanguageSelected('fr')}"
          (click)="selectLanguage('fr')"
        >
          <img width="20" src="assets/img/emoji_fl_fr.png" alt="French flag emoji">
          <span>Français</span>
        </li>
        <li
          role="button"
          [ngClass]="{'is-active pointer-events-none' : isLanguageSelected('en')}"
          (click)="selectLanguage('en')"
        >
          <img width="20" src="assets/img/emoji_fl_en.png" alt="English flag emoji">
          <span>English</span>
        </li>
      </ul>
    </div>
  </div>
</div>
