<div class="banner banner-blur" appParallax [ratio]="-0.3">
  <h1 class="reveal">{{ 'header.about' | translate }}</h1>
</div>
<div class="container">
  <div class="relative z-1 -mt-20 mx-auto lg:w-9/12 bg-white shadow-sm rounded-xl p-5 lg:p-10">
    <div class="
      flex flex-col gap-5 text-center
      lg:grid lg:grid-cols-2 lg:grid-rows-1 lg:text-start
    ">
      <div>
        <h2 class="text-6xl font-extrabold mb-5">Qui sommes nous ?</h2>
        <p class="py-5 lg:p-0">
          At Afyia, we recognize that infectious diseases pose a major challenge to public health globally. <br>
          Our journey is rooted in responding to this challenge, contributing to a world where advanced diagnostics are not only reliable but also accessible to all.
        </p>
      </div>
      <div class="reveal">
        <div class="lg:translate-x-20 image-container">
          <img src="assets/img/img_onehealth_tagged.jpg" alt="Photo illustration One Health">
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto lg:w-9/12 bg-cyan-100 rounded-xl mt-10 p-10 relative">
    <p class="text-center">
      Our goal is to shape a healthier future, where the principles of One Health and cutting-edge technology converge to make a meaningful impact on global well-being.
    </p>
    <fa-icon class="absolute top-0 -left-3 text-primary opacity-50" [icon]="faQuoteLeft" size="4x"></fa-icon>
    <fa-icon class="absolute bottom-0 -right-3 text-primary opacity-50" [icon]="faQuoteRight" size="4x"></fa-icon>
  </div>
</div>

<div class="container mt-20 lg:mt-40">
  <div class="mx-auto lg:w-9/12 px-5 lg:px-10 pb-5 lg:pb-10 bg-white rounded-xl shadow-sm">
    <div class="image-container reveal -translate-y-10">
      <img src="assets/img/team/img_team.jpg" alt="Photo de l'équipe AFYIA au complet">
    </div>
    <h2 class="text-4xl lg:text-6xl text-center font-extrabold mb-5" [innerHTML]="'about.team.title' | translate"></h2>
    <p class="text-center" [innerHTML]="'about.team.text' | translate"></p>
  </div>
</div>

<div class="bg-secondary-dark px-10 pt-10 lg:px-20 lg:pt-32 mt-28 lg:mt-40">
  <h2 class="text-4xl lg:text-7xl text-white font-extrabold text-center reveal">
    <b class="text-cyan-300"> {{ '' | translate }} AFYIA</b> se développe
  </h2>
  <p class="p-10 mb-10 text-center text-white">
    <b>AFYIA</b> Lorem ipsum dorime est un projet débute il y a une dizaine d'année lorem ipsum
  </p>
  <div class="timeline flex flex-col gap-20 relative pt-20 text-white">
    <div id="timeline_element_1" class="relative mx-auto grid grid-cols-2">
      <div class="date">2012</div>
      <div class="description">
        Création d'un algorithme de traitement des données HRM, qui fait aujourd'hui l'objet d'un brevet patati patata.
      </div>
    </div>
    <div id="timeline_element_2" class="relative mx-auto grid grid-cols-2 inactive">
      <div class="date">2017</div>
      <div class="description">
        <b>Maturation de la technologie</b> <br>
        Application vétérinaire
        <div class="flex gap-3 mt-5">
          <div class="rounded-xl">
            <img class="h-[50px] whiten" src="assets/img/partnership/partner_axlr.png" alt="Partner logo Axlr">
          </div>
          <div class="rounded-xl">
            <img class="h-[50px] rounded-lg" src="assets/img/partnership/partner_id.jpg" alt="Partner logo Innovative Diagnostics">
          </div>
        </div>
      </div>
    </div>
    <div id="timeline_element_3" class="relative mx-auto grid grid-cols-2 inactive">
      <div class="date">2022</div>
      <div class="description">
        Obtention du marquage CE IDV, attestant de la conformité et de la qualité de nos produits selon les normes européennes. DICOV MOC/I, DICOV-REST, Afroscreen
      </div>
    </div>
    <div id="timeline_element_4" class="relative mx-auto grid grid-cols-2 inactive">
      <div class="date">2023</div>
      <div class="description">
        Création d'<b>AFYIA</b> Diagnostics 🎉
        <br>Blablabli
        <br><br><br><br> Blablabla
      </div>
    </div>
    <div id="timeline_element_5" class="relative mx-auto grid grid-cols-2 inactive pb-[150px]">
      <div class="date">2024</div>
      <div class="description">
        Certification ISO13485
      </div>
    </div>
    <div class="timeline-bar"></div>
    <div id="timeline_progress" class="timeline-bar timeline-bar-progress"></div>
  </div>
  <div class="text-center text-3xl">🚀</div>
  <div class="bg-white shadow-sm rounded-xl p-10 translate-y-1/2 w-full lg:w-2/3 mx-auto text-center text-2xl mt-5">
    Et ensuite ? Lorem ipsum, message pour le futur
  </div>
</div>

<div class="container mt-40">
  <div class="text-center mb-20">
    <h2 class="title reveal">Les fondateurs</h2>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-y-10">
    <div>
      <div class="h-40 w-40 bg-slate-100 rounded-3xl mx-auto overflow-hidden">
        <img src="assets/img/team/pp_mpourquier.png" alt="Photo de Pourquier Philippe pour Afyia Diagnostics">
      </div>
      <div class="mt-5 text-center">
        <h3 class="font-extrabold">Philippe Pourquier</h3>
        <span>PDG</span>
      </div>
    </div>
    <div>
      <div class="h-40 w-40 bg-slate-100 rounded-3xl mx-auto overflow-hidden">
        <img class="mx-auto" src="assets/img/team/pp_joany.png" alt="Photo de Joany Guy pour Afyia Diagnostics">
      </div>
      <div class="mt-5 text-center">
        <h3 class="font-extrabold">Joany Guy</h3>
        <span>Directrice générale</span>
      </div>
    </div>
    <div>
      <div class="h-40 w-40 bg-slate-100 rounded-3xl mx-auto overflow-hidden">
        <img src="assets/img/team/pp_christelle.png" alt="Photo de Joany Guy pour Afyia Diagnostics">
      </div>
      <div class="mt-5 text-center">
        <h3 class="font-extrabold">Christelle Reynes</h3>
        <span>Responsable biostatistiques</span>
      </div>
    </div>
    <div>
      <div class="h-40 w-40 bg-slate-100 rounded-3xl mx-auto overflow-hidden">
        <img src="assets/img/team/pp_jc.png" alt="Photo de Joany Guy pour Afyia Diagnostics">
      </div>
      <div class="mt-5 text-center">
        <h3 class="font-extrabold">Jean-Christophe Avarre</h3>
        <span>Titre</span>
      </div>
    </div>
  </div>
</div>

<div class="container mt-20 lg:mt-40">
  <app-cta></app-cta>
</div>
