<app-banner [title]="'header.product' | translate" imageUrl="../../assets/img/banner/banner_products.webp"></app-banner>

<div class="container mb-32">
  <div class="my-10">
    <app-ariane></app-ariane>
  </div>
  <div class="text-start mb-10">
    <h2 class="title title-start">{{ 'products.about.categories' | translate }}</h2>
  </div>

  <div class="
    illness-grid grid grid-cols-1 gap-5 reveal
    md:grid-cols-2
    xl:grid-cols-4
  ">
    @for (category of categories; track category) {
      <div role="button" (click)="openCategoryPage(category)" style="background-image: url('{{ category.imageUrl }}')">
        <span class="w-full">{{ category.name }}</span>
      </div>
    }
  </div>

  <div *ngIf="isCategoriesLoading" class="skeleton-wrapper flex h-[200px] justify-start gap-5">
    <div class="skeleton-area"></div>
    <div class="skeleton-area"></div>
    <div class="skeleton-area"></div>
    <div class="skeleton-area"></div>
  </div>
</div>

<div class="container mb-10 lg:mb-20">
  <div class="bg-white p-5 lg:p-10 lg:pt-0 lg:mt-20 shadow-sm rounded-xl">
    <h2 class="text-3xl font-bold text-center mb-5 lg:text-5xl lg:-translate-y-1/2 lg:mb-0" [innerHTML]="'products.text_2.title' | translate"></h2>
    <p [innerHTML]="'products.text_2.content' | translate"></p>
    <div class="ms-10 primary-list text-xl mt-5" [innerHTML]="'products.text_2.list' | translate"></div>
  </div>

  <div class="bg-cyan-500 bg-opacity-10 p-5 lg:p-10 rounded-xl my-10">
    <p class="text-center" [innerHTML]="'products.text_3.content' | translate"></p>
  </div>
</div>

<div class="container">
  <div id="all_products" class="text-start">
    <div class="title title-start mb-10">{{ 'products.all_product' | translate }}</div>
  </div>
  <div class="bg-white shadow-sm rounded-xl p-5 lg:p-10">
    <div class="flex flex-wrap gap-5 mb-10">
      <div class="w-full lg:w-[250px] text-nowrap">
        {{ 'products.filters.pathogens' | translate }}
        <div class="bg-cyan-50 rounded-lg">
          <div class="flex justify-between px-3 py-1" role="button" (click)="closeDropdown(technologyDropdown, $event); openDropdown(pathogenDropdown, $event)">
            <div>
              {{ selectedFilter.pathogen?.name ?? 'products.filters.select' | translate }}
            </div>
            <fa-icon [icon]="faCaretDown" size="sm"></fa-icon>
          </div>
          <div
            #pathogenDropdown
            class="z-10 absolute bg-white rounded-xl shadow animation-pop"
            style="display: none"
            (clickOutside)="closeDropdown(pathogenDropdown, $event)"
          >
            <ul class="text-sm flex flex-col text-left m-2 gap-2">
              @for (pathogen of pathogens; track pathogen) {
              <li>
                <button
                  class="inline-block text-start w-full py-1 px-2 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                  [ngClass]="{'bg-gray-100 pointer-events-none' : selectedFilter.pathogen?.id === pathogen.id}"
                  (click)="selectPathogen(pathogen); closeDropdown(pathogenDropdown, $event)"
                >
                  <span>{{ pathogen.name }}</span>
                </button>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-[250px] text-nowrap">
        {{ 'products.filters.technology' | translate }}
        <div class="bg-cyan-50 rounded-lg">
          <div class="flex justify-between px-3 py-1" role="button" (click)="closeDropdown(pathogenDropdown, $event); openDropdown(technologyDropdown, $event)">
            <div>
              {{ selectedFilter.technology?.name ?? 'products.filters.select' | translate }}
            </div>
            <fa-icon [icon]="faCaretDown" size="sm"></fa-icon>
          </div>
          <div
            #technologyDropdown
            class="z-10 absolute bg-white rounded-xl shadow animation-pop"
            style="display: none"
            (clickOutside)="closeDropdown(technologyDropdown, $event)"
          >
            <ul class="text-sm flex flex-col text-left m-2 gap-2">
              @for (technology of technologies; track technology) {
              <li>
                <button
                  class="inline-block text-start w-full py-1 px-2 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                  [ngClass]="{'bg-gray-100 pointer-events-none' : selectedFilter.technology?.id === technology.id}"
                  (click)="selectTechnology(technology); closeDropdown(technologyDropdown, $event)"
                >
                  <span>{{ technology.name }}</span>
                </button>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <button
        class="btn w-full lg:w-auto bg-primary text-white self-end px-4 py-1"
        [class.disabled]="!hasFilter"
        (click)="resetFilter()"
      >
        {{ 'products.filters.reset' | translate }}
      </button>
    </div>
    <div class="flex flex-col gap-10 lg:gap-5">
      @if (products?.length > 0) {
        @for (item of products; track item; let last = $last) {
        <app-product-card [ngClass]="{'pb-5 border-b lg:pb-0 lg:border-0' : !last}" [product]="item"></app-product-card>
        }
      } @else {
        <div class="rounded-xl bg-slate-50 p-8 text-center">{{ 'products.no_result' | translate }}</div>
      }
    </div>
  </div>
</div>
