@import '../../../../assets/scss/variables.scss';

.card-container {
  width: 100%;
  height: 300px;
  transition: rotate 1.33s, transform $transition-2;
  perspective: 1600px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.card {
  @apply rounded-lg shadow gap-5;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  transition: $transition-3;
  transform-style: preserve-3d;

  &-face {
    @apply p-5;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;

    .icon-background {
      position: absolute;
      bottom: -100px;
      right: 0;
      opacity: 0.05;
      color: $primary;
      font-size: 16em;

      transform: rotate(20deg);
    }
  }

  .front {
    @apply flex gap-5;
  }

  .back {
    transform: rotateY(180deg);
  }

  .content {
    @apply border-l ps-5;
    width: 100%;

    &-header {
      display: flex;
      justify-content: space-between;
      width: 100%;

      img {
        display: block;
        height: 38px;
      }
    }
  }
}
