<div class="group-btn">
  <div [formGroup]="newsletterForm" class="input-group">
    <input id="user_email" class="text-dark" type="email" formControlName="user_email" maxlength="50" placeholder="your@email.com">
  </div>
  <button
    class="btn btn-lg flex items-center text-white hover:text-white bg-cyan-800 text-lg self-start z-10 lg:self-center text-center lg:whitespace-nowrap h-full"
    [class.disabled]="!newsletterForm.valid"
    (click)="subscribeNewsletter()"
  >
    {{ 'contact.sections.title.button' | translate }}
    <fa-icon class="inline ms-1" [icon]="faNewspaper"></fa-icon>
  </button>
</div>

<app-modal #newsletterModal>
  <div title>
    {{ 'contact.modal.title_newsletter' | translate }} <img class="inline align-baseline" width="24px" src="assets/img/emoji_hands_up.png" alt="Wave hand">
  </div>
  <div body>
    {{ 'contact.modal.newsletter_confirm' | translate }}
  </div>
</app-modal>

<app-modal #newsletterErrorModal>
  <div title>
    {{ 'contact.modal.newsletter_title_error' | translate }} 🙆
  </div>
  <div body>
    {{ 'contact.modal.newsletter_error' | translate }}
  </div>
</app-modal>
