@import '../../variables';

.input-group {
  display: flex;
  flex-direction: column;

  label {
    @apply mb-1;
  }

  input[type=text], textarea {
    @apply p-3 rounded-xl;
    transition: $transition-1;
    outline: 2px solid transparent;

    &:focus {
      outline: 2px solid rgba($primary, 0.5);
    }
  }
}
