@import '../../assets/scss/variables';

.input-group {
  display: flex;
  flex-direction: column;

  label {
    @apply mb-1 font-bold;
  }

  input[type=text], textarea {
    @apply p-3 rounded-lg bg-slate-50;
    transition: $transition-1;
    outline: 1px solid transparent;

    &:focus {
      outline: 1px solid theme('colors.cyan.500');
    }
  }
}
