<div class="container mx-auto mt-60">
  <div class="w-2/3 mx-auto">
    <h1 class="text-center text-8xl font-extrabold reveal">{{ 'contact.title' | translate }}</h1>
    <p class="mt-8 text-center text-2xl">{{ 'contact.subtitle' | translate }}</p>
  </div>

  <div class="mt-40 bg-cyan-100 relative rounded-xl py-16 px-14 reveal">
    <h2 class="absolute text-5xl font-extrabold top-0 -translate-y-1/2">{{ 'contact.sections.mail.title' | translate }}</h2>
    <div class="flex justify-between gap-5">
      <p class="block self-center">{{ 'contact.sections.mail.text' | translate }}</p>
      <a class="btn btn-lg text-white hover:text-white bg-cyan-700 text-lg self-center whitespace-nowrap" href="mailto:contact@afyia-diagnostics.com">
        contact&#64;afyia-diagnostics.com
        <fa-icon class="ms-1" [icon]="faEnvelope"></fa-icon>
      </a>
    </div>
  </div>

  <div class="mt-20 bg-sky-100 relative rounded-xl py-16 px-14 reveal">
    <h2 class="absolute text-5xl font-extrabold top-0 -translate-y-1/2">
      {{ 'contact.sections.order.title' | translate }}
    </h2>
    <div class="flex justify-between gap-5">
      <p class="block self-center">{{ 'contact.sections.order.text' | translate }}</p>
      <a class="btn btn-lg text-white hover:text-white bg-sky-700 text-lg self-center whitespace-nowrap" href="mailto:order@afyia-diagnostics.com">
        order&#64;afyia-diagnostics.com
        <fa-icon class="ms-1" [icon]="faEnvelope"></fa-icon>
      </a>
    </div>
  </div>

  <div class="mt-20 bg-violet-100 relative rounded-xl py-16 px-14 reveal">
    <h2 class="absolute text-5xl font-extrabold top-0 -translate-y-1/2">
      {{ 'contact.sections.linkedin.title' | translate }}
    </h2>
    <div class="flex justify-between gap-5">
      <p class="block self-center">{{ 'contact.sections.linkedin.text' | translate }}</p>
      <a class="btn btn-lg text-white hover:text-white bg-violet-800 self-center whitespace-nowrap" href="https://linkedin.com/company/afyia-diagnostics" target="_blank">
        Linkedin
        <fa-icon class="ms-1" [icon]="faComment"></fa-icon>
      </a>
    </div>
  </div>

  <div class="mt-20 bg-pink-100 relative rounded-xl py-16 px-14 reveal">
    <h2 class="absolute text-5xl font-extrabold top-0 -translate-y-1/2">{{ 'contact.sections.maps.title' | translate }}</h2>
    <div class="flex justify-between gap-5">
      <p class="block self-center">
        <b>AFYIA Diagnostics</b> <br>
        310 rue Louis Pasteur, 34790 Grabels, France <br>
        +33 (0)4 67 40 71 67
      </p>
       <a class="btn btn-lg text-white hover:text-white bg-pink-800 self-center whitespace-nowrap" href="https://maps.app.goo.gl/ZTmQ78UBhsC4JvDP9" target="_blank">
        {{ 'contact.sections.maps.button' | translate }}
        <fa-icon class="ms-1" [icon]="faLocationDot"></fa-icon>
      </a>
    </div>
  </div>
</div>

<!-- <div class="container mx-auto mt-32 w-1/2">
  <div class="text-center">
    <h1 class="title text-center mb-20 reveal">
      <span>{{ 'contact.sections.form.title' | translate }} </span>
      <img class="inline" width="60px" src="assets/img/emoji_wave_hand.png" alt="Wave hand">
    </h1>
  </div>
  <div class="flex flex-col gap-5">
    <div class="input-group">
      <label for="input_name">{{ 'contact.sections.form.inputs.name' | translate }}</label>
      <input id="input_name" type="text" maxlength="50">
    </div>
    <div class="input-group">
      <label for="input_email">{{ 'contact.sections.form.inputs.email' | translate }}</label>
      <input id="input_email" type="text" maxlength="50">
    </div>
    <div class="input-group">
      <label for="input_message">{{ 'contact.sections.form.inputs.message' | translate }}</label>
      <textarea id="intput_message" rows="5"></textarea>
    </div>
  </div>
  <button class="btn btn-lg bg-cyan-700 text-white mt-5">
    <fa-icon class="me-1" [icon]="faPaperPlane"></fa-icon>
    {{ 'contact.sections.form.inputs.button' | translate }}
  </button>
</div> -->
<app-footer></app-footer>