<app-header class="hidden lg:block"></app-header>
<div class="z-50 fixed backdrop-blur-lg lg:hidden block top-0 left-0 w-full h-full bg-white bg-opacity-50">
  <div class="container mx-auto w-screen fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">
    <span class="block mb-3 text-6xl">👷‍♀️📱</span>
    <span class="text-2xl font-extrabold mb-5">
      Le site n'est pas encore disponible sur téléphone <br>
    </span>
    <span class="text-xl">
      En attendant, retrouvez-nous sur votre ordinateur !
    </span> <br> <br>
    <span class="text-2xl font-extrabold mb-5">
      The website is not available yet for mobile devices <br>
    </span>
    <span class="text-xl">
      Find us on your computer!
    </span>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
