@if (description.length <= 0) {
<div
  class="h-full p-5 rounded-2xl text-center flex flex-col-reverse relative background-image"
  style="background-image: url('../../../assets/img/{{ imagePath }}')"
  role="button"
>
  <div class="z-10 w-[80%] text-white absolute top-[40%] left-[50%] -translate-x-1/2 text-center text-shadow">
    <span class="font-extrabold text-4xl">{{ title }}</span> <span class="text-3xl"> {{ subTitle }}</span>
  </div>
  <div class="btn btn-white w-fit mx-auto z-10">View more</div>
</div>
} @else {
<div
  class="min-h-[250px] h-full p-5 rounded-2xl text-left flex flex-col justify-between relative background-image"
  style="background-image: url('../../../assets/img/{{ imagePath }}')"
  role="button"
>
  <div class="z-10 text-white text-shadow">
    <span class="font-extrabold text-4xl">{{ title }}</span> <br>
    <span class="block mb-2 text-2xl"> {{ subTitle }}</span>
    <span>{{ description }}</span>
  </div>
  <div class="flex justify-between items-center mt-5">
    <div class="z-10">
    @if (ce) {
      <img src="assets/img/ce.svg" width="30px" alt="CE Logo SVG">
    }
    </div>
    <div class="btn btn-white z-10">
      View more @if (link) { <fa-icon class="ms-1" [icon]="faUpRightFromSquare" size="sm"></fa-icon> }
    </div>
  </div>
</div>
}