@import '../../../../assets/scss/variables.scss';

.coming-soon {
  img {
    filter: grayscale(0.66);
  }
}

.text-link {
  cursor: pointer;

  h2, h3 {
    transition: $transition-1;
  }

  &:hover {
    color: $primary;
  }
}

.image-card-container:hover + div h2,
.image-card-container:hover + div h3 {
  color: $primary;
}

