<div class="flex flex-col lg:flex-row gap-3 lg:pb-0 lg:gap-5" [class.disabled]="product?.disabled">
  <div
    class="image-card-container relative h-[200px] w-full lg:h-[150px] lg:min-w-[240px] lg:max-w-[240px] bg-slate-100 rounded-xl overflow-clip hover:text-blue"
    role="button"
    (click)="goToProduct()"
  >
    @if (product.mainImageUrl) {
    <img
      class="w-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:scale-150"
      [src]="product.mainImageUrl"
      alt="Photo produit {{ product.name }}"
    >
    } @else {
      <fa-icon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-primary opacity-25" [icon]="faBoxOpen" size="2x"></fa-icon>
    }
  </div>
  <div>
    <div class="text-link" (click)="goToProduct()">
      <h2 id="colored" class="text-2xl font-bold">{{ product.name }}</h2>
      <h3 class="text-xl mb-2">{{ product.subname }}</h3>
    </div>
    <p class="text-sm">{{ product.description }}</p>
  </div>
</div>