<div class="banner" appParallax [ratio]="-0.3" style="background-image: url('../../assets/img/banner/banner_products.png')">
  <h1 class="reveal">{{ 'header.product' | translate }}</h1>
</div>

<div class="container">
  <div class="relative z-1 bg-white -mt-20 p-5 md:p-10 rounded-xl shadow-sm mb-32">
    <div class="absolute -top-14 left-0 text-white">
      <app-ariane></app-ariane>
    </div>
    <div class="text-start">
      <h2 class="title title-start z-10 mb-10">{{ 'products.about.categories' | translate }}</h2>
    </div>

    <div class="
      illness-grid grid grid-cols-1 gap-5 reveal
      md:grid-cols-2 md:gap-10
      xl:grid-cols-3
    ">
      <div role="button" routerLink="/febrile-rash-viruses" style="background-image: url('assets/img/viruses/illness_4.jpg')">
        <span class="w-full">{{ 'products.about.febrilerash' | translate }}</span>
      </div>
      <div role="button" routerLink="/hepatic-viruses" style="background-image: url('assets/img/viruses/illness_2.jpg')">
        <span class="w-full">{{ 'products.about.hepatic' | translate }}</span>
      </div>
      <div role="button" routerLink="/respiratory-viruses" style="background-image: url('assets/img/viruses/illness_1.jpg')">
        <span class="w-full">{{ 'products.about.respiratory' | translate }}</span>
      </div>
      <div role="button" routerLink="/tuberculosis" style="background-image: url('assets/img/viruses/illness_1.jpg')">
        <span class="w-full">{{ 'products.about.tuberculosis' | translate }}</span>
      </div>
    </div>
  </div>
</div>

<div class="container mb-10 lg:mb-20">
  <div class="bg-white rounded-xl shadow-sm p-5 lg:p-10 lg:pt-0 mb-10">
    <h2 class="text-4xl text-center mb-5 lg:text-start lg:text-6xl lg:-translate-y-8 lg:mb-0">
      Titre <strong>titre</strong>
    </h2>
    <p>
      De nombreuses <b>maladies infectieuses</b> restent aujourd’hui <b>non diagnostiquées</b>, ce qui constitue un véritable <b>fléau de santé publique</b>. Même lorsque des traitements existent, faute de diagnostic fiable et accessible, certains patients ne bénéficient pas de la prise en charge adaptée et continuent de transmettre ces pathologies dans leurs communautés.
    </p>
  </div>

  <div class="mx-auto lg:w-10/12 bg-cyan-600 bg-opacity-5 shadow-sm rounded-xl mb-10 p-5 lg:p-10">
    <div class="grid lg:grid-cols-2">
      <p class="mb-5 lg:mb-0 self-center">
        Par exemple, dans le cas de la <b>tuberculose</b>, on estime qu’en 2024, sur les 10,8 millions de cas de tuberculose active, environ 3 millions d’individus n’ont pas été diagnostiqués, sans compter les formes asymptomatiques.
      </p>
      <div class="lg:translate-x-20">
        <img class="w-full rounded-xl border col-span-2" src="assets/img/img_diag_insuffisant.png" alt="Infographie sur la tuberculose">
      </div>
    </div>
  </div>

  <div class="bg-white p-5 lg:p-10 lg:pt-0 lg:mt-20 shadow-sm rounded-xl">
    <h2 class="text-4xl text-center mb-5 lg:text-6xl lg:-translate-y-8 lg:mb-0">
      Rendre le diagnostic <strong>accessible</strong>
    </h2>

    <p>
      Chez <b>AFYIA Diagnostics</b>, nous plaçons le <b>diagnostic innovant, simple, fiable, sensible et abordable</b> au cœur de notre mission. Identifier rapidement et avec précision les agents infectieux est une étape essentielle pour améliorer la santé mondiale, en particulier dans les contextes où l’accès aux soins reste limité.

      Un <b>diagnostic rapide et précis</b> est essentiel pour :
    </p>
    <ul class="ms-10 primary-list text-xl mt-5">
      <li><b>Identifier les agents pathogènes et orienter une prise en charge adaptée</b>, permettant l’administration de traitements antiviraux ou antibiotiques spécifiques.</li>
      <li><b>Limiter la transmission</b> des pathogènes grâce à la mise en place de mesures d’isolement et de prévention ciblées.</li>
      <li>Réduire l’usage inapproprié des antibiotiques et contribuer à la <b>lutte contre l’antibiorésistance.</b></li>
      <li><b>Éviter les erreurs diagnostiques</b> qui pourraient retarder la prise en charge de pathologies graves, telles que les méningo-encéphalites virales ou certaines infections bactériennes.</li>
      <li><b>Détecter précocement les épidémies</b> et ajuster les politiques de santé publique.</li>
    </ul>
  </div>

  <div class="bg-cyan-500 bg-opacity-10 p-5 lg:p-10 rounded-xl my-10">
    <p class="text-center">
      Notre ambition est de <b>rendre le diagnostic de haute performance accessible à tous</b>, afin de mieux prévenir, traiter et contrôler les maladies infectieuses à l’échelle mondiale.
    </p>
  </div>
</div>

<div class="container">
  <div id="all_products" class="text-start">
    <div class="title title-start mb-10">{{ 'products.all_product' | translate }}</div>
  </div>
  <div class="bg-white shadow-sm rounded-xl p-5 lg:p-10">
    <div class="flex flex-wrap gap-5 mb-10">
      <div class="w-full lg:w-[250px] text-nowrap">
        {{ 'products.filters.pathogens' | translate }}
        <div class="bg-cyan-50 rounded-lg">
          <div class="flex justify-between px-3 py-1" role="button" (click)="closeDropdown(technologyDropdown, $event); openDropdown(pathogenDropdown, $event)">
            <div>
              {{ selectedFilter.pathogen?.label ?? 'products.filters.select' | translate }}
            </div>
            <fa-icon [icon]="faCaretDown" size="sm"></fa-icon>
          </div>
          <div
            #pathogenDropdown
            class="z-10 absolute bg-white rounded-xl shadow animation-pop"
            style="display: none"
            (clickOutside)="closeDropdown(pathogenDropdown, $event)"
          >
            <ul class="text-sm flex flex-col text-left m-2 gap-2">
              @for (pathogen of pathogenList; track pathogen) {
              <li>
                <button
                  class="inline-block text-start w-full py-1 px-2 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                  [ngClass]="{'bg-gray-100 pointer-events-none' : selectedFilter.pathogen?.value === pathogen.value}"
                  (click)="selectPathogen(pathogen); closeDropdown(pathogenDropdown, $event)"
                >
                  <span>{{ pathogen.label }}</span>
                </button>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-[250px] text-nowrap">
        {{ 'products.filters.technology' | translate }}
        <div class="bg-cyan-50 rounded-lg">
          <div class="flex justify-between px-3 py-1" role="button" (click)="closeDropdown(pathogenDropdown, $event); openDropdown(technologyDropdown, $event)">
            <div>
              {{ selectedFilter.technology?.label ?? 'products.filters.select' | translate }}
            </div>
            <fa-icon [icon]="faCaretDown" size="sm"></fa-icon>
          </div>
          <div
            #technologyDropdown
            class="z-10 absolute bg-white rounded-xl shadow animation-pop"
            style="display: none"
            (clickOutside)="closeDropdown(technologyDropdown, $event)"
          >
            <ul class="text-sm flex flex-col text-left m-2 gap-2">
              @for (technology of technologyList; track technology) {
              <li>
                <button
                  class="inline-block text-start w-full py-1 px-2 rounded-lg hover:bg-gray-100 transition whitespace-nowrap"
                  [ngClass]="{'bg-gray-100 pointer-events-none' : selectedFilter.technology?.value === technology.value}"
                  (click)="selectTechnology(technology); closeDropdown(technologyDropdown, $event)"
                >
                  <span>{{ technology.label }}</span>
                </button>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <button
        class="btn w-full lg:w-auto bg-primary text-white self-end px-4 py-1"
        [class.disabled]="!hasFilter"
        (click)="resetFilter()"
      >
        {{ 'products.filters.reset' | translate }}
      </button>
    </div>
    <div class="flex flex-col gap-10 lg:gap-5">
      @if (filteredProducts?.length > 0) {
        @for (item of filteredProducts; track item; let last = $last) {
        <app-product-card [ngClass]="{'pb-5 border-b lg:pb-0 lg:border-0' : !last}" [product]="item"></app-product-card>
        }
      } @else {
        <div class="rounded-xl bg-slate-50 p-8 text-center">{{ 'products.no_result' | translate }}</div>
      }
    </div>
  </div>
</div>
