<div class="banner" appParallax [ratio]="-0.3" style="background-image: url('../../assets/img/banner/banner_products.png')">
  <h1 class="reveal">{{ 'header.product' | translate }}</h1>
</div>
<div class="container py-10">
  <app-ariane></app-ariane>
</div>
<div class="container">
  <div class="text-start">
    <div class="title title-start mb-10">{{ 'header.product' | translate }}</div>
  </div>

  <div class="illness-grid grid grid-cols-3 gap-10 mb-40 reveal">
    <div role="button" routerLink="/about-monkeypox" style="background-image: url('assets/img/viruses/illness_1.jpg')">
      <span>Monkeypox</span>
    </div>
    <div role="button" routerLink="/about-febrile-rash" style="background-image: url('assets/img/viruses/illness_4.jpg')">
      <span>Febrile rash</span>
    </div>
  </div>

  <div id="all_products" class="text-start">
    <div class="title title-start mb-10">{{ 'products.all_product' | translate }}</div>
  </div>
  <div class="bg-white shadow-sm rounded-xl p-10">
    <div class="flex gap-5 mb-10">
        <div>
          <label for="select_pathogene">{{ 'products.filters.pathogens' | translate }}</label>
          <select
            id="select_pathogene"
            name="select_pathogene"
            [(ngModel)]="selectedFilter.pathogen"
          >
            <option value="null" disabled selected>{{ 'products.filters.select' | translate }}</option>
            @for (pathogen of pathogenList; track pathogen) {
            <option [value]="pathogen">{{ pathogen }}</option>
            }
          </select>
        </div>
        <div>
          <label for="select_technology">{{ 'products.filters.technology' | translate }}</label>
          <select
            id="select_technology"
            name="select_technology"
            [(ngModel)]="selectedFilter.technology"
          >
            <option value="null" disabled selected>{{ 'products.filters.select' | translate }}</option>
            @for (technology of technologyList; track technology) {
            <option [value]="technology">{{ technology }}</option>
            }
          </select>
        </div>
        <button
          class="btn bg-primary text-white self-end px-4 py-1"
          [class.disabled]="!hasFilter"
          (click)="resetFilter()"
        >
          {{ 'products.filters.reset' | translate }}
        </button>
    </div>
    <div class="flex flex-col gap-5">
      @for (item of filteredProducts; track item) {
      <app-product-card [product]="item"></app-product-card>
      }
    </div>
  </div>
</div>
