<div class="container py-10 mt-28">
  <app-ariane [path]="navigationPath"></app-ariane>
</div>
<div class="container mb-10">
  <button class="btn btn-white mb-5" (click)="goBack()">{{ 'products.back' | translate }}</button>
  <div class="bg-white rounded-xl shadow-sm p-5 lg:p-10">
    <div class="grid grid-cols-1 lg:grid-cols-8 gap-5 mb-10">
      <div class="lg:col-span-5 text-3xl lg:text-4xl">
        <div class="inline-block text-3xl lg:text-4xl font-bold">{{ product?.name }}</div>
        <div class="inline-block">{{ product?.subname }}</div>
        <p>{{ product?.description }}</p>
        @if (product?.isRuo) {
          <div class="inline-block text-sm border border-black px-1">RUO</div>
        }
        @if (product?.isCe) {
          <img class="inline-block invert" src="assets/img/ce.svg" width="30px" alt="CE Logo SVG">
        }
      </div>
      <div class="relative h-[250px] lg:col-span-3 bg-slate-100 rounded-xl overflow-hidden reveal">
        @if (product?.imageUrl) {
        <img
          class="w-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          [src]="product.imageUrl"
          alt="Photo de produit {{ product.name }}"
        >
        } @else {
          <fa-icon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-primary opacity-25" [icon]="faBoxOpen" size="4x"></fa-icon>
        }
      </div>
    </div>
    <div class="product-content" [innerHTML]="product?.content"></div>
    <!-- <div class="mb-10 grid grid-cols-1 lg:grid-cols-2 gap-5 reveal">
      @for (element of product?.content; track element) {
      <div class="relative flex flex-col justify-center bg-cyan-100 p-3 lg:p-5 rounded-xl overflow-hidden">
        <div class="font-extrabold text-xl mb-1">{{ element.title }}</div>
        <div>{{ element.text }}</div>
        <fa-icon class="absolute top-1/2 -translate-y-1/2 rotate-6 left-0 text-cyan-600 opacity-10 ms-12 pointer-events-none" [icon]="faDna" size="7x"></fa-icon>
      </div>
      }
    </div> -->
    <div class="mb-10 border-bottom pb-10"></div>
    <div class="flex gap-5">
      <button class="btn btn-lg bg-primary text-white"> <!-- (click)="contactModal.open()"> -->
        {{ 'products.contact_us' | translate }}
      </button>
      @if (product?.card) {
      <a class="btn btn-lg bg-primary text-white hover:text-white" href="assets/{{ product.card }}" target="_blank">
        {{ 'products.view_product_card' | translate }}
        <fa-icon class="ms-1" [icon]="faUpRightFromSquare" size="sm"></fa-icon>
      </a>
      }
    </div>
  </div>
</div>
<!-- <app-modal #contactModal size="lg">
  <div body>
    <div class="border-b pb-4 mb-4">
      <button class="btn bg-primary text-white">
        {{ 'contact.sections.form.inputs.is_client' | translate }}
      </button>
    </div>
    <div class="flex flex-col gap-5" [class.hidden]="isClient">
      <div class="grid grid-cols-2 gap-5">
        <div class="input-group" [class.is-invalid]="isFieldInvalid('lastname')">
          <label for="lastname">{{ 'contact.sections.form.inputs.name' | translate }}</label>
          <input id="lastname" formControlName="lastname" type="text" maxlength="50">
        </div>
        <div class="input-group" [class.is-invalid]="isFieldInvalid('firstname')">
          <label for="firstname">{{ 'contact.sections.form.inputs.firstname' | translate }}</label>
          <input id="firstname" formControlName="firstname" type="text" maxlength="50">
        </div>
      </div>
      <div class="input-group" [class.is-invalid]="isFieldInvalid('email')">
        <label for="email">{{ 'contact.sections.form.inputs.email' | translate }}</label>
        <input id="email" formControlName="email" type="text" maxlength="50">
      </div>
      <div class="input-group" [class.is-invalid]="isFieldInvalid('company')">
        <label for="company">{{ 'contact.sections.form.inputs.company' | translate }}</label>
        <input id="company" formControlName="company" type="text" maxlength="50">
      </div>
      <div class="input-group" [class.is-invalid]="isFieldInvalid('company')">
        <label for="company">{{ 'contact.sections.form.inputs.address' | translate }}</label>
        <input id="company" formControlName="company" type="text" maxlength="50">
      </div>
      <div class="input-group" [class.is-invalid]="isFieldInvalid('company')">
        <label for="company">{{ 'contact.sections.form.inputs.address_more' | translate }}</label>
        <input id="company" formControlName="company" type="text" maxlength="50">
      </div>
      <div class="input-group" [class.is-invalid]="isFieldInvalid('company')">
        <label for="phone">{{ 'contact.sections.form.inputs.phone' | translate }}</label>
        <input id="phone" formControlName="phone" type="text" maxlength="50">
      </div>
    </div>

    <div *ngIf="!isClient">
      Si vous êtes déjà client, merci de renseigner les informations supplémentaires pour que nous puissons vous recontacter.
      <div class="flex flex-col gap-5">
        <div class="input-group" [class.is-invalid]="isFieldInvalid('email')">
          <label for="email">{{ 'contact.sections.form.inputs.email' | translate }}</label>
          <input id="email" formControlName="email" type="text" maxlength="50">
        </div>
        <div class="input-group" [class.is-invalid]="isFieldInvalid('company')">
          <label for="company">{{ 'contact.sections.form.inputs.company' | translate }}</label>
          <input id="company" formControlName="company" type="text" maxlength="50">
        </div>
      </div>
    </div>
  </div>
  <div footer>
    <button class="self-start btn btn-lg bg-cyan-700 text-white" [class.disabled]="!contactForm.valid">
      <fa-icon class="me-1" [icon]="faPaperPlane"></fa-icon>
      {{ 'contact.sections.form.inputs.button' | translate }}
    </button>
  </div>
</app-modal> -->
