<app-about-illness [pathogens]="['hepatitis']" [path]="path">
  <div header>
    <h1 class="text-6xl font-extrabold mb-10">{{ 'products.about.bloodborne' | translate }}</h1>
    <p><span class="text-5xl font-bold">91 328</span> cas confirmés <br> dans <span class="text-5xl font-bold">116 pays</span></p>
  </div>
  <img image class="-z-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full blur-sm" src="assets/img/viruses/illness_2.jpg" alt="Photo monkey pox">
  <div content>
    <div class="title title-start z-10 text-3xl mb-10">
      <h2>
        {{ 'about_illness.monkeypox.title' | translate }}
      </h2>
    </div>
    <p class="mb-10" [innerHTML]="'about_illness.monkeypox.content' | translate"></p>
  </div>
</app-about-illness>
