<app-about-illness [pathogens]="['hepatitis']" [path]="path">
  <div header>
    <h1 class="text-3xl lg:text-6xl font-extrabold mb-10">{{ 'products.about.bloodborne' | translate }}</h1>
  </div>
  <img image class="-z-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full blur-sm" src="assets/img/viruses/illness_2.jpg" alt="Photo monkey pox">
  <div content>
    <div class="title title-start title-sm z-10 text-3xl mb-10">
      <h2>
        {{ 'about_illness.respiratory.title' | translate }}
      </h2>
    </div>
    <p class="mb-10" [innerHTML]="'about_illness.respiratory.content' | translate"></p>
  </div>
</app-about-illness>
