<div class="bg-primary mx-auto rounded-xl p-5 lg:p-10 lg:py-16 lg:px-20 text-white reveal">
  <div class="
    flex flex-col text-center justify-between items-center gap-5
    lg:flex-row lg:text-start lg:gap-0
  ">
    <div>
      <span class="block mb-2 text-3xl lg:text-5xl font-extrabold">{{ 'sections.cta.speech' | translate }}</span>
      <span class="block text-lg lg:text-2xl font-extralight">{{ 'sections.cta.text' | translate }} - <b>info&#64;afyia-diagnostics.com</b></span>
    </div>
    <div class="btn btn-lg bg-primary-dark" routerLink="/contact" role="button">{{ 'sections.cta.button' | translate }}</div>
  </div>
</div>