<div *ngIf="show" class="overlay animation-appear">
  <div class="mx-5 bg-white rounded-xl shadow animation-pop">
    <div class="flex justify-between items-center p-3 border-b">
      <div class="text-2xl font-extrabold">
        <ng-content select="[title]"></ng-content>
      </div>
      <div
        role="button"
        class="relative h-[32px] w-[32px] text-slate-400 hover:bg-slate-100 rounded-lg transition-all duration-150"
        (click)="close()"
      >
        <fa-icon class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" [icon]="faXmark"></fa-icon>
      </div>
    </div>
    <div class="p-3">
      <ng-content select="[body]"></ng-content>
    </div>
    <div class="flex justify-end p-3">
      <button class="btn btn-lg bg-slate-200 text-slate-600" (click)="close()">{{ 'contact.modal.close' | translate }}</button>
    </div>
  </div>
</div>
