@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&display=swap');
@import 'assets/scss/variables';
@import 'assets/scss/animations';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-padding-top: 2em;
}

body {
  background: $background-color;
  font-family: 'Archivo', sans-serif;
  color: $dark-text;

  &::before {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(-40deg, #28133f 55%, #8d5f9b);
    opacity: 0;
    transition: 0.5s;
  }

  &.bg-dark-gradient {
    &::before {
      opacity: 1;
    }
  }
}

a {
  color: $dark;
  text-decoration: none;
  transition: $transition-1;

  &:hover {
    color: $primary;
  }
}

p {
  font-size: 20px;
  text-align: justify;

  &.p-light {
    font-weight: 300;

    b {
      font-weight: 500;
    }
  }
}

::selection {
  color: white;
  background: $primary;
  -webkit-text-fill-color: white;
}

select {
  @apply p-2 rounded-lg bg-cyan-50;
  color: $dark-text;
}

strong {
  color: $primary;
  font-weight: 900!important;
}

.strong-alt {
  strong {
    @apply text-fuchsia-700;
    filter: grayscale(0.2);
  }
}

.strong-white {
  strong {
    color: white;
  }
}

.primary-list {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 1em;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.45em;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $primary;
    }
  }
}

.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 90vh;

  &-responsive {
    opacity: 0.3;
    width: 100%;
    background-image: url('assets/img/hands_background.png');
    background-size: cover;
  }

  img {
    height: 100%;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $background-color 5%, rgba($background-color, 0%) 25%);
  }
}

.image-container {
  @apply rounded-xl;
  overflow: clip;
  height: 100%;
  width: 100%;

  img {
    display: block;
    height: 100%;
    transition: $transition-2;
    transform: scale(1);
    object-fit: cover;
    object-position: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  &--top {
    img {
      object-position: 50% 20%;
    }
  }

  &--scaled {
    img {
      transform: scale(1.3);

      &:hover {
        transform: scale(1.35);
      }
    }
  }
}

.reveal {
  visibility: hidden;
}

@layer components {
  .title {
    @apply text-6xl font-extrabold;
    position: relative;
    display: inline-block;
    margin: auto;
    text-wrap: nowrap;

    &::before {
      @apply bg-cyan-100 rounded-xl;
      $overflow: 50px;
      position: absolute;
      content: '';
      top: 50%;
      width: calc(100% + $overflow);
      transform: translateX(calc($overflow / 2) * -1);
      height: 75%;
      z-index: -1;
    }

    &-start {
      @apply text-5xl;
      margin: 0;
      text-wrap: wrap;

      &::before {
        @apply bg-cyan-100 rounded-xl;
        position: absolute;
        content: '';
        top: 50%;
        width: 150px;
        height: 75%;
        transform: translateX(0);
      }
    }

    &-sm {
      @apply text-3xl;
    }
  }

  .btn {
    @apply px-6 py-2 rounded-full shadow-sm;
    text-align: center;
    transition: $transition-1;
    cursor: pointer;
    display: inline-block;

    &-white {
      @apply bg-white text-black;
    }

    &-lg {
      @apply rounded-full font-extrabold text-lg bg-primary text-white;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      scale: 0.95;
      opacity: 0.66;
    }
  }
}

.input-group {
  display: inline-block;
  height: 100%;

  label {
    @apply mb-2;
    display: block;
  }

  input[type=text],
  input[type=date],
  input[type=password],
  input[type=email],
  textarea {
    @apply p-3 rounded-lg bg-slate-50;
    transition: $transition-1;
    outline: 1px solid transparent;
    width: 100%;

    &:focus {
      outline: 1px solid theme('colors.cyan.200');
      box-shadow: 0 0 1px 4px theme('colors.cyan.100');
    }
  }

  &.is-invalid {
    input[type=text], textarea {
      outline: 1px solid theme('colors.red.300');
      box-shadow: 0 0 1px 4px theme('colors.red.200');
    }
  }
}

input[type=checkbox] {
  accent-color: theme('colors.cyan.600');
}

.group-btn {
  display: flex;
  height: 50px;

  input[type=email] {
    @apply h-full rounded-l-full pl-5;
  }

  .btn {
    @apply h-full rounded-none rounded-r-full;

    &:hover {
      scale: 1;
    }
  }
}

.skeleton-wrapper {
  @apply animate-pulse;
  width: 100%;

  .skeleton-title {
    @apply bg-slate-200 rounded h-5 mb-5 w-1/3;
  }

  .skeleton-text-line {
    @apply bg-slate-200 rounded h-3 mb-3 w-2/3;
  }

  .skeleton-area {
    @apply bg-slate-200 rounded-xl h-full w-full;
  }
}

@media (max-width: theme('screens.lg')) {
  .title {
    @apply text-5xl;

    &-sm {
      @apply text-3xl;
    }
  }

  .banner {
    @apply text-6xl;
  }

  .image {
    box-shadow: 0 0 0 0;
  }
}

@media (max-width: theme('screens.md')) {
  .title {
    @apply text-3xl;
  }
}
