@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&display=swap');
@import 'assets/scss/variables';
@import 'assets/scss/animations';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-padding-top: 2em;
}

body {
  background: $background-color;
  font-family: 'Archivo', sans-serif;
  color: $dark-text;

  &::before {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(-40deg, #28133f 55%, #8d5f9b);
    opacity: 0;
    transition: 0.5s;
  }

  &.bg-dark-gradient {
    &::before {
      opacity: 1;
    }
  }
}

a {
  color: $dark;
  text-decoration: none;
  transition: $transition-1;

  &:hover {
    color: $primary;
  }
}

p {
  font-size: 20px;
  text-align: justify;

  &.p-light {
    font-weight: 300;

    b {
      font-weight: 500;
    }
  }
}

::selection {
  color: white;
  background: $primary;
  -webkit-text-fill-color: white;
}

label {
  display: block;
}

select {
  @apply p-2 rounded-lg bg-cyan-50;
  color: $dark-text;
}

strong {
  color: $primary;
  font-weight: 900!important;
}

.strong-alt {
  strong {
    @apply text-fuchsia-700;
    filter: grayscale(0.2);
  }
}

.primary-list {
  li {
    position: relative;
    margin-left: 1em;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      border-radius: 100%;
      height: 8px;
      width: 8px;
      background-color: $primary;
    }
  }
}

.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 90vh;

  &-responsive {
    opacity: 0.3;
    width: 100%;
    background-image: url('assets/img/hands_background.png');
    background-size: cover;
  }

  img {
    height: 100%;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $background-color 5%, rgba($background-color, 0%) 25%);
  }
}

.image-container {
  @apply rounded-xl;
  overflow: hidden;
  height: 100%;
  width: 100%;
  // box-shadow: 0 4px 30px 4px rgba(black, 0.2);

  img {
    display: block;
    height: 100%;
    transition: $transition-2;
    transform: scale(1);
    object-fit: cover;
    object-position: center;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.banner {
  @apply font-extrabold text-8xl text-center shadow-xl;
  position: relative;
  text-align: center;
  min-height: 550px;
  background-image: url('assets/img/buildings_background.jpg');
  background-size: cover;

  h1 {
    line-height: 550px;
    text-align: center;
    color: white;
    text-shadow: 0 4px 8px rgba(black, 0.33);
  }
}

.reveal {
  visibility: hidden;
}

@layer components {
  .title {
    @apply text-6xl font-extrabold;
    position: relative;
    display: inline-block;
    margin: auto;
    text-wrap: nowrap;

    &::before {
      @apply bg-cyan-100 rounded-xl;
      $overflow: 50px;
      position: absolute;
      content: '';
      top: 50%;
      width: calc(100% + $overflow);
      transform: translateX(calc($overflow / 2) * -1);
      height: 75%;
      z-index: -1;
    }

    &-start {
      @apply text-5xl;
      margin: 0;

      &::before {
        @apply bg-cyan-100 rounded-xl;
        position: absolute;
        content: '';
        top: 50%;
        width: 150px;
        height: 75%;
        transform: translateX(0);
      }
    }
  }

  .btn {
    @apply px-6 py-2 rounded-full shadow-sm;
    text-align: center;
    transition: $transition-1;
    cursor: pointer;

    &-white {
      @apply bg-white text-black;
    }

    &-lg {
      @apply rounded-full font-extrabold text-lg bg-primary text-white;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      scale: 0.95;
      opacity: 0.66;
    }
  }
}

@media (max-width: 976px) {
  .title {
    @apply text-5xl;
  }

  .image {
    box-shadow: 0 0 0 0;
  }
}

@media (max-width: 768px) {
  .title {
    @apply text-3xl;
  }
}
