<app-banner
  [title]="data?.title[currentLang]"
  [dark]="true"
  [imageUrl]="data?.fullBannerUrl"
  [titleSmall]="true"
></app-banner>
<div class="container">
  <div class="relative -mt-20 z-1 mx-auto lg:w-8/12 bg-white shadow-sm rounded-xl p-5 lg:p-10">
    <div class="absolute -top-14 left-0 text-white max-w-full">
      <app-ariane [path]="navigationPath"></app-ariane>
    </div>
    <div class="reveal">
      <div class="text-gray-500 text-small mb-3">{{ data?.publishedAt | date:'shortDate' : undefined : currentLang }}</div>
      <div class="news-content" [innerHTML]="formattedContent"></div>
    </div>
  </div>
</div>
