@import '../../variables';

.card-transition {
  opacity: 0;
  transform: translateY(2rem); // rotate(-10deg) scale(1.05);
  transition: 0.3s;
}

.card-bg-image {
  height: 450px;
  width: 300px;
  background-image: url('../../assets/img/img_molecule.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-gradient {
  background: linear-gradient(to right, #00fbff 20%, $primary-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-colored {
  box-shadow: 0 3px 40px 18px rgba($primary-light, 0.1);
}

.hover-hightlight {
  transition: $transition-3;
  border-radius: $radius;

  &:hover {
    z-index: 1;
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 32px 0 rgba(138, 5, 58, 0.6);
  }
}

.partner-grid {
  img {
    transition: $transition-2;
    filter: grayscale(1);
    width: 120px;
    margin: auto;

    &:hover {
      filter: grayscale(0);
    }

    &.size-square {
      width: 80px;
      height: 80px;
    }
  }
}
