<div class="bg-image">
  <img src="assets/img/hands_background.png" alt="" srcset="">
</div>
<div class="container h-screen flex flex-col justify-center m-auto">
  <div class="text-5xl font-extralight reveal">
    Make infectious disease diagnostic <br>
    accessible <span class="font-extrabold text-primary">to all</span>
  </div>
</div>
<div class="container mx-auto bg-cyan-100 rounded-xl mt-20 max-h-64">
  <h1 class="text-7xl font-extrabold ms-8 -translate-y-[2.5rem] -mb-[1rem]">Notre <span class="text-primary">mission</span></h1>
  <div class="grid grid-cols-2 gap-10 px-8">
    <div>
      <p>
        Alors que le diagnostic est la première arme de lutte contre les maladies infectieuses, l'immense majorité des populations vivant dans les pays à revenus faibles et intermédiaires n’y a toujours pas accès.
      </p>
    </div>
    <div class="image reveal">
      <img src="assets/img/img_swab.jpg" alt="image">
    </div>
  </div>
</div>
<div class="container mx-auto mt-96 text-center">
  <div class="w-[80%] mx-auto">
    <div class="title mx-auto mb-[18rem]">
      Notre <span class="strong">approche</span>
    </div>

    <div class="h-[4000px] relative">
      <div class="sticky top-[50%] h-[50vh]" id="sticky-wrapper">
        <div class="flex flex-col justify-center" id="sticky-element">
          <div id="a_card" class="grid grid-cols-3 gap-10 absolute card-transition">
            <div
              class="card-bg-image rounded-xl overflow-hidden"
              style="background-image: url('assets/img/img_ai.jpg')"
            ></div>
            <div class="col-span-2 text-left flex flex-col justify-center gap-3">
              <div>
                <h1 class="text-5xl font-black">IA</h1>
              </div>
              <div>
                <p>
                  L’IA est utilisée pour analyser et interpréter de façon autonome les résultats de diagnostic, à partir de bases de données d’apprentissage créées spécifiquement pour chaque nouveau test.
                </p>
              </div>
            </div>
          </div>

          <div id="b_card" class="grid grid-cols-3 gap-10 absolute card-transition">
            <div
              class="card-bg-image rounded-xl overflow-hidden"
              style="background-image: url('assets/img/img_molecule.jpg')"
            ></div>
            <div class="col-span-2 text-left flex flex-col justify-center gap-3">
              <div>
                <h1 class="text-5xl font-black">Biologie moléculaire</h1>
              </div>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Blandit quisque ultricies faucibus justo integer facilisis morbi nec.
                </p>
              </div>
            </div>
          </div>

          <div id="c_card" class="grid grid-cols-3 gap-10 absolute card-transition">
            <div
              class="card-bg-image rounded-xl overflow-hidden"
              style="background-image: url('assets/img/img_process.jpg')"
            ></div>
            <div class="col-span-2 text-left flex flex-col justify-center gap-3">
              <div>
                <h1 class="text-5xl font-black">Processus</h1>
              </div>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Blandit quisque ultricies faucibus justo integer facilisis morbi nec.
                </p>
              </div>
            </div>
          </div>

          <div id="approach_section" class="w-full absolute inactive hide transition-all duration-500">
            <div class="text-white w-2/3 mx-auto">
              <h4 id="approach_title" class="text-6xl font-extrabold text-center">Notre approche</h4>
              <p class="mx-auto font-light my-14">
                L’approche développée par AFYIA combine l’intelligence artificielle, la biologie moléculaire et un process industriel exigeant, pour aboutir à des produits très simples d’utilisation avec un haut degré de fiabilité. 
              </p>
            </div>
            <div class="flex w-2/3 mx-auto gap-10 h-[350px]">
              <app-card-link
                class="grow hover-hightlight"
                title="AI"
                imagePath="img_ai.jpg"
              ></app-card-link>
              <app-card-link
                class="grow hover-hightlight"
                title="Biologie"
                subTitle="moléculaire"
                imagePath="img_molecule.jpg"
              ></app-card-link>
              <app-card-link
                class="grow hover-hightlight"
                title="Processus"
                imagePath="img_process.jpg"
              ></app-card-link>
            </div>
          </div>
        </div>
      </div>

      <div id="step_1" class="absolute top-[0px]"></div>
      <div id="step_2" class="absolute top-[1000px]"></div>
      <div id="step_3" class="absolute top-[2000px]"></div>
      <div id="step_4" class="absolute top-[3000px]"></div>
    </div>
  </div>
</div>

<div class="container mx-auto mb-32">
  <div class="text-center mt-32 mb-20">
    <div id="product_title" class="title">
      Nos <span class="strong">produits</span>
    </div>
  </div>
  <div class="grid rows-2 grid-cols-2 justify-center flex-wrap gap-10 mx-auto reveal w-[80%]">
    <a href="assets/pdf/DIMPOX.pdf" target="_blank">
      <app-card-link
        title="Monkeypox Virus"
        subTitle="Detection kit by real-time PCR"
        imagePath="illness_1.jpg"
        description="(Monkeypox virus clad I and II) Validated by CNR Orthopovirus"
        [link]="true"
      ></app-card-link>
    </a>
    <a href="assets/pdf/DIRASH.pdf" target="_blank">
      <app-card-link
        title="Monkeypox Virus"
        subTitle="PCR-HRM differential diagnosis kit"
        imagePath="illness_1.jpg"
        description="(Monkeypox virus, virus Herpes simplex of type 1 and 2 and Varicella-Zona)"
        [link]="true"
      ></app-card-link>
    </a>
    <div class="col-span-2 flex justify-center">
      <a href="https://www.innovative-diagnostics.com/produit/di-sars-cov-2-rest-duplex/" target="_blank">
        <app-card-link
          title="SARS CoV-2"
          subTitle="Viral RNA detection kit"
          imagePath="illness_2.jpg"
          description="(SARS CoV-2 (Gene N), Del69-70, K417N, L452R, E484K, N501Y, P681R/H)"
          [ce]="true"
          [link]="true"
        ></app-card-link>
      </a>
    </div>
  </div>
</div>

<div class="container mx-auto mb-20">
  <div class="bg-white relative shadow-colored p-10 rounded-xl">
    <div class="reveal title-gradient text-center w-full absolute top-0 left-[50%] -translate-x-1/2 -translate-y-1/2 text-6xl font-extrabold">
      Nos partenaires
    </div>
    <div class="flex flex-wrap justify-center gap-20 items-center py-10 px-5">
      <img src="assets/img/partnership/partner_axlr.png" alt="Partner ">
      <img src="assets/img/partnership/partner_meltree.png" alt="Partner ">
      <img src="assets/img/partnership/partner_igf.png" alt="Partner ">
      <img src="assets/img/partnership/partner_occitanie.png" alt="Partner ">
      <img src="assets/img/partnership/partner_id.png" alt="Partner ">
      <img src="assets/img/partnership/partner_inserm.png" alt="Partner ">
      <img src="assets/img/partnership/partner_isem.png" alt="Partner ">
      <img src="assets/img/partnership/partner_ird.png" alt="Partner ">
    </div>
  </div>
</div>

<div class="container bg-primary mx-auto rounded-xl py-16 px-20 text-white reveal">
  <div class="flex justify-between items-center">
    <div>
      <span class="block mb-2 text-5xl font-extrabold">Vous partagez notre vision ?</span>
      <span class="block text-2xl font-extralight">Pour collaborer ou nous rejoindre</span>
    </div>
    <div class="btn btn-lg bg-primary-dark" routerLink="/contact" role="button">Nous contacter</div>
  </div>
</div>

<app-footer></app-footer>
